In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing
import matplotlib.pyplot as plt # dataviz
import plotly.express as px
from datetime import date

In [3]:
df = pd.read_csv("immo_data.csv")

pd.set_option('display.max_columns', None)

%matplotlib inline

In [4]:
df.head()

,regio1,serviceCharge,heatingType,telekomTvOffer,telekomHybridUploadSpeed,newlyConst,balcony,picturecount,pricetrend,telekomUploadSpeed,totalRent,yearConstructed,scoutId,noParkSpaces,firingTypes,hasKitchen,geo_bln,cellar,yearConstructedRange,baseRent,houseNumber,livingSpace,geo_krs,condition,interiorQual,petsAllowed,street,streetPlain,lift,baseRentRange,typeOfFlat,geo_plz,noRooms,thermalChar,floor,numberOfFloors,noRoomsRange,garden,livingSpaceRange,regio2,regio3,description,facilities,heatingCosts,energyEfficiencyClass,lastRefurbish,electricityBasePrice,electricityKwhPrice,date
0,Nordrhein_Westfalen,245.00,central_heating,ONE_YEAR_FREE,NaN,False,False,6,4.62,10.0,840.0,1965.0,96107057,1.0,oil,False,Nordrhein_Westfalen,True,2.0,595.0,244,86.00,Dortmund,well_kept,normal,NaN,Sch&uuml;ruferstra&szlig;e,Schüruferstraße,False,4,ground_floor,44269,4.0,181.4,1.0,3.0,4,True,4,Dortmund,Schüren,Die ebenerdig zu erreichende Erdgeschosswohnun...,Die Wohnung ist mit Laminat ausgelegt. Das Bad...,NaN,NaN,NaN,NaN,NaN,May19
1,Rheinland_Pfalz,134.00,self_contained_central_heating,ONE_YEAR_FREE,NaN,False,True,8,3.47,10.0,NaN,1871.0,111378734,2.0,gas,False,Rheinland_Pfalz,False,1.0,800.0,NaN,89.00,Rhein_Pfalz_Kreis,refurbished,normal,no,no_information,NaN,False,5,ground_floor,67459,3.0,NaN,NaN,NaN,3,False,4,Rhein_Pfalz_Kreis,Böhl_Iggelheim,Alles neu macht der Mai – so kann es auch für ...,NaN,NaN,NaN,2019.0,NaN,NaN,May19
2,Sachsen,255.00,floor_heating,ONE_YEAR_FREE,10.0,True,True,8,2.72,2.4,1300.0,2019.0,113147523,1.0,NaN,False,Sachsen,True,9.0,965.0,4,83.80,Dresden,first_time_use,sophisticated,NaN,Turnerweg,Turnerweg,True,6,apartment,1097,3.0,NaN,3.0,4.0,3,False,4,Dresden,Äußere_Neustadt_Antonstadt,Der Neubau entsteht im Herzen der Dresdner Neu...,"* 9 m² Balkon\n* Bad mit bodengleicher Dusche,...",NaN,NaN,NaN,NaN,NaN,Oct19
3,Sachsen,58.15,district_heating,ONE_YEAR_FREE,NaN,False,True,9,1.53,40.0,NaN,1964.0,108890903,NaN,district_heating,False,Sachsen,False,2.0,343.0,35,58.15,Mittelsachsen_Kreis,NaN,NaN,NaN,Gl&uuml;ck-Auf-Stra&szlig;e,Glück-Auf-Straße,False,2,other,9599,3.0,86.0,3.0,NaN,3,False,2,Mittelsachsen_Kreis,Freiberg,Abseits von Lärm und Abgasen in Ihre neue Wohn...,NaN,87.23,NaN,NaN,NaN,NaN,May19
4,Bremen,138.00,self_contained_central_heating,NaN,NaN,False,True,19,2.46,NaN,903.0,1950.0,114751222,NaN,gas,False,Bremen,False,1.0,765.0,10,84.97,Bremen,refurbished,NaN,NaN,Hermann-Henrich-Meier-Allee,Hermann-Henrich-Meier-Allee,False,5,apartment,28213,3.0,188.9,1.0,NaN,3,False,4,Bremen,Neu_Schwachhausen,Es handelt sich hier um ein saniertes Mehrfami...,Diese Wohnung wurde neu saniert und ist wie fo...,NaN,NaN,NaN,NaN,NaN,Feb20

In [5]:
df.isna().sum() # number of missing values in each column

regio1                           0
serviceCharge                 6909
heatingType                  44856
telekomTvOffer               32619
telekomHybridUploadSpeed    223830
newlyConst                       0
balcony                          0
picturecount                     0
pricetrend                    1832
telekomUploadSpeed           33358
totalRent                    40517
yearConstructed              57045
scoutId                          0
noParkSpaces                175798
firingTypes                  56964
hasKitchen                       0
geo_bln                          0
cellar                           0
yearConstructedRange         57045
baseRent                         0
houseNumber                  71018
livingSpace                      0
geo_krs                          0
condition                    68489
interiorQual                112665
petsAllowed                 114573
street                           0
streetPlain                  71013
lift                             0
baseRentRange                    0
typeOfFlat                   36614
geo_plz                          0
noRooms                          0
thermalChar                 106506
floor                        51309
numberOfFloors               97732
noRoomsRange                     0
garden                           0
livingSpaceRange                 0
regio2                           0
regio3                           0
description                  19747
facilities                   52924
heatingCosts                183332
energyEfficiencyClass       191063
lastRefurbish               188139
electricityBasePrice        222004
electricityKwhPrice         222004
date                             0
dtype: int64

In [6]:
def get_missing_data_percentage(df):
    
    total = df.isnull().sum().sort_values(ascending = False)
    percent = ((df.isnull().sum().sort_values(ascending = False) / len(df)) * 100).sort_values(ascending = False)
    
    missing_data = pd.concat([total, percent], axis = 1, keys = ['Total', 'Percent'])
    
    return missing_data

df_missing_data = get_missing_data_percentage(df)

df_missing_data

                           Total    Percent
telekomHybridUploadSpeed  223830  83.254603
electricityBasePrice      222004  82.575414
electricityKwhPrice       222004  82.575414
energyEfficiencyClass     191063  71.066766
lastRefurbish             188139  69.979171
heatingCosts              183332  68.191185
noParkSpaces              175798  65.388879
petsAllowed               114573  42.615957
interiorQual              112665  41.906267
thermalChar               106506  39.615399
numberOfFloors             97732  36.351869
houseNumber                71018  26.415473
streetPlain                71013  26.413614
condition                  68489  25.474800
yearConstructed            57045  21.218151
yearConstructedRange       57045  21.218151
firingTypes                56964  21.188023
facilities                 52924  19.685326
floor                      51309  19.084620
heatingType                44856  16.684397
totalRent                  40517  15.070485
typeOfFlat                 36614  13.618747
telekomUploadSpeed         33358  12.407662
telekomTvOffer             32619  12.132788
description                19747   7.344988
serviceCharge               6909   2.569834
pricetrend                  1832   0.681421
scoutId                        0   0.000000
hasKitchen                     0   0.000000
balcony                        0   0.000000
newlyConst                     0   0.000000
regio1                         0   0.000000
picturecount                   0   0.000000
geo_bln                        0   0.000000
noRooms                        0   0.000000
baseRentRange                  0   0.000000
lift                           0   0.000000
street                         0   0.000000
cellar                         0   0.000000
geo_krs                        0   0.000000
livingSpace                    0   0.000000
baseRent                       0   0.000000
geo_plz                        0   0.000000
regio3                         0   0.000000
garden                         0   0.000000
noRoomsRange                   0   0.000000
regio2                         0   0.000000
livingSpaceRange               0   0.000000
date                           0   0.000000

In [7]:
# drop the columns that contains more than 30% of missing values
cols_to_drop = df_missing_data[df_missing_data['Percent'] > 30].index.to_list()
df = df.drop(cols_to_drop, axis=1)

get_missing_data_percentage(df)

                      Total    Percent
houseNumber           71018  26.415473
streetPlain           71013  26.413614
condition             68489  25.474800
yearConstructed       57045  21.218151
yearConstructedRange  57045  21.218151
firingTypes           56964  21.188023
facilities            52924  19.685326
floor                 51309  19.084620
heatingType           44856  16.684397
totalRent             40517  15.070485
typeOfFlat            36614  13.618747
telekomUploadSpeed    33358  12.407662
telekomTvOffer        32619  12.132788
description           19747   7.344988
serviceCharge          6909   2.569834
pricetrend             1832   0.681421
regio1                    0   0.000000
newlyConst                0   0.000000
balcony                   0   0.000000
hasKitchen                0   0.000000
picturecount              0   0.000000
scoutId                   0   0.000000
geo_krs                   0   0.000000
livingSpace               0   0.000000
cellar                    0   0.000000
baseRent                  0   0.000000
geo_bln                   0   0.000000
lift                      0   0.000000
baseRentRange             0   0.000000
street                    0   0.000000
noRooms                   0   0.000000
geo_plz                   0   0.000000
noRoomsRange              0   0.000000
garden                    0   0.000000
regio2                    0   0.000000
livingSpaceRange          0   0.000000
regio3                    0   0.000000
date                      0   0.000000

In [8]:
df.dropna(subset=['totalRent'],inplace=True)

In [9]:
# Dropping unnecessary columns

cols_to_drop = [
    'houseNumber',
    'streetPlain',
    'yearConstructedRange',
    'firingTypes',
    'facilities',
    'telekomUploadSpeed',
    'telekomTvOffer',
    'description',
    'pricetrend',
    'regio1',
    'scoutId',
    'picturecount',
    'geo_krs',
    'geo_bln',
    'street',
    'geo_plz',
    'noRoomsRange',
    'livingSpaceRange',
    'regio3',
    'date',
    'baseRentRange'
]

df.drop(columns=cols_to_drop,inplace=True)

get_missing_data_percentage(df)

                 Total    Percent
condition        56980  24.954781
yearConstructed  49285  21.584703
floor            40370  17.680318
heatingType      36823  16.126885
typeOfFlat       30556  13.382209
serviceCharge     4090   1.791243
hasKitchen           0   0.000000
newlyConst           0   0.000000
balcony              0   0.000000
totalRent            0   0.000000
livingSpace          0   0.000000
baseRent             0   0.000000
cellar               0   0.000000
lift                 0   0.000000
baseRentRange        0   0.000000
noRooms              0   0.000000
garden               0   0.000000
regio2               0   0.000000

In [10]:
df['condition'].value_counts()

condition
well_kept                             55573
refurbished                           24556
fully_renovated                       22529
mint_condition                        18984
first_time_use                        18150
modernized                            14834
first_time_use_after_refurbishment    13751
negotiable                             1833
need_of_renovation                     1139
ripe_for_demolition                       4
Name: count, dtype: int64

In [11]:
df['condition'].fillna("Other", inplace=True)

/tmp/ipykernel_13475/4171066618.py:1: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.

In [12]:

yearConstructedMean = df['yearConstructed'].mean().round()
df["yearConstructed"] = df['yearConstructed'].fillna(yearConstructedMean)

df['age'] = date.today().year - df["yearConstructed"]
df.drop(columns=['yearConstructed'],inplace=True)

In [13]:
df['floor'].value_counts()

floor
 1.0      54983
 2.0      49205
 3.0      32872
 0.0      21180
 4.0      17521
 5.0       6976
 6.0       2105
 7.0        906
 8.0        503
 9.0        375
 10.0       322
-1.0        264
 11.0       209
 12.0       123
 13.0       122
 14.0        97
 15.0        59
 16.0        30
 17.0        26
 19.0        12
 18.0        11
 21.0         9
 20.0         9
 80.0         6
 136.0        3
 24.0         3
 22.0         3
 137.0        2
 26.0         2
 29.0         2
 23.0         2
 98.0         2
 133.0        1
 32.0         1
 83.0         1
 124.0        1
 139.0        1
 25.0         1
 134.0        1
 31.0         1
 45.0         1
 41.0         1
 138.0        1
 135.0        1
 36.0         1
 105.0        1
 390.0        1
 650.0        1
 999.0        1
 99.0         1
 104.0        1
Name: count, dtype: int64

In [14]:
# Keeping the apartments with the floos between -1 and 20

df = df[(df['floor'] >= -1) & (df['floor'] <= 20)]

In [15]:
df['heatingType'].value_counts()

heatingType
central_heating                   91600
district_heating                  19408
gas_heating                       15385
self_contained_central_heating    12758
floor_heating                     12679
oil_heating                        3679
heat_pump                          1798
combined_heat_and_power_plant      1591
night_storage_heater               1027
wood_pellet_heating                 723
electric_heating                    622
stove_heating                       202
solar_heating                       133
Name: count, dtype: int64

In [16]:
modeHeatingType = df['heatingType'].mode()[0]

df["heatingType"] = df['heatingType'].fillna(modeHeatingType)

In [17]:
df['typeOfFlat'].value_counts()

typeOfFlat
apartment              100373
roof_storey             23948
ground_floor            16091
other                    6649
maisonette               6310
raised_ground_floor      3162
penthouse                2461
terraced_flat            2260
half_basement             744
loft                      643
Name: count, dtype: int64

In [18]:
modeTypeOfFlat = df['typeOfFlat'].mode()[0]

df["typeOfFlat"] = df['typeOfFlat'].fillna(modeTypeOfFlat)

In [19]:
meanServiceCharge = df['serviceCharge'].mean()

df["serviceCharge"] = df['serviceCharge'].fillna(meanServiceCharge)

get_missing_data_percentage(df)

               Total  Percent
serviceCharge      0      0.0
heatingType        0      0.0
newlyConst         0      0.0
balcony            0      0.0
totalRent          0      0.0
hasKitchen         0      0.0
cellar             0      0.0
baseRent           0      0.0
livingSpace        0      0.0
condition          0      0.0
lift               0      0.0
baseRentRange      0      0.0
typeOfFlat         0      0.0
noRooms            0      0.0
floor              0      0.0
garden             0      0.0
regio2             0      0.0
age                0      0.0

In [24]:
df['regio2'].value_counts()

regio2
Leipzig                         10839
Chemnitz                         9377
Berlin                           8745
Dresden                          5415
Magdeburg                        4227
                                ...
Vulkaneifel_Kreis                  20
Freyung_Grafenau_Kreis             19
Haßberge_Kreis                     15
Neustadt_a.d._Waldnaab_Kreis       10
Kronach_Kreis                       6
Name: count, Length: 419, dtype: int64

In [26]:
other_regions = list(df['regio2'].value_counts().iloc[20:,].index)
def edit_region(region):
    if region in other_regions:
        return 'Other'
    else:
        return region

df['regio2'] = df['regio2'].apply(edit_region)
df = df.rename(columns={'regio2': 'city'})

df['city'].value_counts()

city
Other                   112907
Leipzig                  10839
Chemnitz                  9377
Berlin                    8745
Dresden                   5415
Magdeburg                 4227
Halle_Saale               3601
München                   3406
Essen                     3009
Frankfurt_am_Main         2922
Düsseldorf                2822
Hamburg                   2594
Duisburg                  2496
Dortmund                  2166
Mittelsachsen_Kreis       2128
Gelsenkirchen             2082
Köln                      1955
Recklinghausen_Kreis      1915
Zwickau                   1862
Leipzig_Kreis             1743
Zwickau_Kreis             1699
Name: count, dtype: int64